Spec size limits are misleading

Spec says `room_id` MUST NOT exceed 255 bytes; https://matrix.org/docs/spec/client_server/r0.6.1#size-limits

But the spec also says a server_name can be over 255 chars on its own https://matrix.org/docs/spec/appendices#server-name

(hostname 255 chars + `:` + port 5 digits) = 261

Given that a room ID must have a `!`, a localpart and a `:` it is actually impossible to use 255 dns-chars for the server name even with a hostname of 253 chars and no port identifier.

While we're talking about this, the spec says:

> dns-name    = 1*255dns-char

DNS names can only be 253 characters in text form (although they're 255 in binary form). (There's also some other missing restrictions, but not sure those really need to be in there.)

> DNS names can only be 253 characters in text form

do you have a source for this?

> > DNS names can only be 253 characters in text form
> 
> do you have a source for this?

https://en.wikipedia.org/wiki/Domain_Name_System#Domain_name_syntax,_internationalization talks a bit about it without describing why. The maximum wire format size is 255 (from [RFC 1035 section 2.3.4](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.4)), but the wire encoding is a byte for length of each label, followed by the label itself, terminated by a label of length 0 (the root zone).

This ends up with a domain name of `www.matrix.org` being encoded in wire format as `3www5matrix3org0`, which is 16 bytes (compared to `www.matrix.org`, which is 14 bytes). So you lose two bytes when going from binary -> text representation (one is due to the root zone label and one is due to moving to length prefixes as opposed to separators). ([Hello DNS](https://powerdns.org/hello-dns/basic.md.html#dnsbasics) talks a bit more about the wire format for those curious.)

The canonicalization also doesn't make sense:

> Server names must be treated case-sensitively: in other words, `@user:matrix.org` is a different person from `@user:MATRIX.ORG`.

From a DNS POV those are the same. 🤷 I also wonder if a trailing root zone label is valid? E.g. `www.matrix.org.` points to the same domain as `www.matrix.org`.

Interesting, I'd never found that bit of RFC1035 before. I wonder if it is universally respected.




> The canonicalization also doesn't make sense:
> 
> > Server names must be treated case-sensitively: in other words, `@user:matrix.org` is a different person from `@user:MATRIX.ORG`.
> 
> From a DNS POV those are the same.

Yes, but from the POV of matrix room membership, they are different, because matrix state event keys are case-sensitive. So if we see a `join` from `@alice:matrix.org` followed by a leave from `@alice:MATRIX.ORG`, we end up with a room state which has different state for those two users. In other words, we have to treat it the same as `@alice:example.org` where `example.org` is a CNAME for `matrix.org`.

> I also wonder if a trailing root zone label is valid? E.g. `www.matrix.org.` points to the same domain as `www.matrix.org`.

It's not explicitly forbidden, so I'd say it's valid.

It would have been possible to require casefolding domains but that ship has likely sailed unless we are sure that no one has ever used an uppercase domain on matrix.

Related: https://github.com/matrix-org/matrix-doc/issues/606