Change URLs to conform to RFC 3986 generic URL syntax

I propose changing Matrix URLs to conform to existing conventions and RFC 3986. If there is support for this change, I can submit a formal proposal for Matrix spec change.

Generic RFC 3986 URL Syntax:

`scheme:[//authority]path[?query][#fragment]` where `authority = [userinfo@]host[:port]`

**Example of Matrix URLs using RFC 3986 Generic Syntax:**

User URLs: `@user:matrix.org` -> `user@matrix.org`
Room Alias URLs: `#roomAlias:matrix.org` -> `matrix.org/rooms/roomAlias`
Room ID URLs: `!roomId:matrix.org` -> `matrix.org/rooms?id=roomId`
Event URLs: `$eventId:matrix.org` -> `matrix.org/events/eventId`
Group URLs: `+groupId:matrix.org` -> `matrix.org/groups/groupId`

**Conform to Internet standards and RFC 3986**
Matrix URLs currently violate [RFC 3986 Section 3 (Syntax)](https://tools.ietf.org/html/rfc3986#section-3) by using user and authority information in a non-generic syntax. Specifically, it breaks any URL parser by putting information between scheme and authority (rooms, groups, etc). This generic syntax is widely deployed and standardized, and there doesn't seem to be any reason Matrix breaks it besides unfamiliarity with Internet standards.

**Fixes broken library support**
Almost all programming languages have URL parsing libraries that parse generic syntax URLs into scheme, user, authority, path, query, and fragment parts. For example, [Node.JS](https://nodejs.org/api/url.html), [Haskell](https://hackage.haskell.org/package/modern-uri), [Python](https://docs.python.org/3/library/urllib.parse.html), [Go](https://golang.org/pkg/net/url/) all parse URLs into these components. Using the standard format for URLs would obviate the need for special-case Matrix URL parsing code. Right now, the simple use case of parsing the host from a matrix URI with any of these libraries is broken.

**Better interoperability**
Programs that parse URLs and autolink them rely on these conventions, so would recognize Matrix URLs out-of-the-box.

**Future proof**
Matrix has a set of prefix characters denoting different resources (`@` for users, `#` for rooms, etc). This makes it difficult to add new resources, because URL parsing code has to be updated, and a prefix decided on. Using conventional URLs means Matrix can easily just add new paths without updating Matrix-specific URI parsing code.

This has 2 issues I see:

a) This would break all rooms and servers. this basicly requires very heavy changes.
b) There is https://github.com/matrix-org/matrix-doc/pull/2312 which would I guess make these valid again as then we probably follow internet spec if I understand it correct? (Aka we have our own scheme

> b) There is #2312 which would I guess make these valid again as then we probably follow internet spec if I understand it correct? (Aka we have our own scheme

The URLs would still violate RFC 3986 generic syntax even with their own scheme, since the URLs use a different syntax for userinfo, and put path info before the authority. I'm not sure why Matrix felt the need to come up with a URL syntax that doesn't work with any URL parsing code.

Examples of other protocols using standard RFC 3986 generic syntax:

`git://user@github.com/matrix-org/matrix-doc`
`ssh://user@someserver.org`
`irc://chat.freenode.net`
`xmpp://alice@example.com/mobile`

I still think that it s not good to break an exiting protocol for this. as these things are heavily tied into the eco system

While I appreciate that people want to get pre-review on these sorts of things, #matrix-spec:matrix.org or a proper MSC are the better places to gather this sort of feedback.

It's also worth noting for this particular issue that there's a URI scheme proposal where this conversation might be better suited. 